body{
    background: papayawhip;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background: wheat;
    border-radius: 10px;
}
.header div{
    display: flex;
    align-items: center;

}
ul{
    display: flex;
    list-style-type: none;
    padding: 0;
}
li , h1{
    margin: 0px 6px;
    color: purple;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: white;
    background-color: purple;
    border-radius: 6px;
    padding: 5px 15px;
    font-weight: bold;
    transition: all .4s ease-in-out;
    margin: 0px 5px;
}
a:hover{
    background-color: white;
    color: rgba(128, 0, 128, 0.622);
}
.circle{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: purple;
}