body{
    text-align: center;
    background-color: rgba(165, 42, 42, 0.405);
}
.container{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-weight: bold;
    margin-top: 80px;
}
.container div{
    width: 120px;
}
.container div img{
    width: 100%;
}
h2{
    color: brown;
    font-weight: bold;
    font-style: italic;
}
p{
    color: darkred;
}