#container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.grid{
    width :84px;
    height :84px;
    border :3px solid black;
    background :white;
}
.grid:hover{
    background-color: antiquewhite;
}