body{
    margin: 0;
    padding: 0%;
    background: #3b9d92;
}
div{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
}
h1{
    margin: 20px auto;
    font-family: cursive;
    text-align: center;
}
img{
    width: 100%;
    object-fit: contain;
    border-radius: 6px;
    margin-bottom: 15px;
}
.play-buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color: aliceblue;
    padding: 5px 15px;
    background: cadetblue;
    border: 1px solid;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
a:hover{
    background:whitesmoke;
    color: black;
    border-color: black;
}
p{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 15px;
}
.box{
    box-shadow: inset 0px 0px 20px 20px rgb(197, 167, 122);
    margin-top: 40px;
    background: beige;
    display: flex;
}